{# empty Twig template #}
<h2>Formulario con Symfony 3</h2>
{{form_start(form, {'action':'', 'method':'POST'})}}
<label>
    Campo Titulo:
    {{form_errors(form.titulo)}}
    {{form_widget(form.titulo)}}
</label>
{{form_end(form)}}